{% extends 'base.html' %}
{% load static %}

{% block content %}

<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <table>
        <tr>
            <th>Service provider name</th>
            <th>Phone Number </th>
            <th>Address</th>
        </tr>

        <tr>
            <td>Khaled Ambulance Service </td>
            <td>01933246577</td>
            <td>Plot 15, Rd No 71, Gulshan 2, Dhaka 1212. 67, Motijheel Road, Dhaka 1000.</td>
        </tr>
        <tr>
            <td>Al-Amin Ambulance</td>
            <td>01720448666</td>
            <td>Panthopath, Mirpur, Kamalapur, Dhaka.
            </td>
        </tr>
        <tr>
            <td>Alif Ambulance Service</td>
            <td>01713205555</td>
            <td>76/A, Ahmed Plaza, West Panthopath, Bir Uttam Kazi Nuruzzaman Road, Dhaka 1215.
            </td>
        </tr>
        <tr>
            <td>Mim Ambulance Service</td>
            <td>01716523567</td>
            <td>House-08, Road-13, DIT Project, Dhaka.</td>
        </tr>
        <tr>
            <td>M ICU Ambulance Service</td>
            <td> 01716269038</td>
            <td>61, Green Road, Dhaka,1205</td>
        </tr>
        </tr>


        <td>Ahad Ambulance Service</td>
        <td>01911125156</td>
        <td>Near of Holy Family Hospital, Eskaton Garden Road, Dhaka 1000</td>
        </tr>
        <tr>
            <td>24 Ambulance Service</td>
            <td> +88-02-6651333</td>
            <td>Ambagan, 274/2, Dhaka, 1217.</td>
        </tr>
        <tr>
            <td>Zoom Ambulance Service in Dhaka</td>
            <td> 01715942067</td>
            <td>House # 15/E, Sobhanbag Road, Dhaka, 1207.</td>
        </tr>
        <tr>
            <td>Lamyea Ambulance Service</td>
            <td>01764880099</td>
            <td> 2/F, Avenue 1, Dhaka 1216. </td>
        </tr>
        <tr>
            <td>Desh Ambulance Service</td>
            <td>01790509607</td>
            <td>82, East Ahmed Nagar, Dhaka 1216.</td>

        <tr>
            <td>Apollo Ambulance Service BD </td>
            <td> +88-0601-61688, Mobile: 01713-140689</td>
            <td>sador road barisal </td>
        </tr>
        <tr>
            <td>Conscious Ambulance Service</td>
            <td>01912603094</td>
            <td>Zigatola Bus Stand, Dhaka 1209.</td>

        </tr>
        <tr>
            <td>Mirpur Ambulance Service</td>
            <td> 01785906599</td>
            <td>Mirpur, Dhaka.</td>
        </tr>
        <tr>
            <td>NHFH Ambulance Service </td>
            <td>01712367859</td>
            <td>Plot 7/2, Section-2, Mirpur, Dhaka 1216.</td>
        </tr>
        <tr>
            <td>Jamuna Ambulance Service</td>
            <td> 01714360988</td>
            <td>Band road barishal </td>
        <tr>
            <td>
                Ambulance Service BD </td>
            <td> 01712539963</td>
            <td>Green Road, Dhaka 1205 </td>
        </tr>
        <tr>
            <td>Salman Ambulance Service</td>
            <td> 01941354079</td>
            <td>House No 88, Road No 4</td>
        </tr>
        <tr>
            <td>HASBD.Com Ambulance Service</td>
            <td> 01701777782</td>
            <td>730/C, NG-11, Shahid Baki Sarak, Dhaka</td>
        </tr>
        <tr>
            <td>Barisal Marie Stopes Clinic
                Ambulance Service</td>
            <td> +88-02-7661888, Mobile: 01730-002313</td>
            <td>Polashpur Barishal</td>
        </tr>
        <tr>
            <td>Chandra Ambulance Service</td>
            <td>04312173228, 01712626948</td>
            <td>Sher e bangla medical collage </td>
        <tr>
            <td>Mahim Ambulance Service </td>
            <td>01774983692 </td>
            <td>Shaheed Shahbuddin Road, Dhaka 1207.</td>
        </tr>
        <tr>
            <td>Rahat Ambulance Service </td>
            <td> 01716217379</td>
            <td>Dhaka 259/2/A, Dhaka 1216.</td>
        </tr>
        <tr>
            <td>Barisal Islami Bank Hospital
                Ambulance Service</td>
            <td>043163784, 01712794900</td>
            <td>Sador road Barishal </td>
        </tr>
        <tr>
            <td>Barisal Islam Poly Clinic
                Ambulance Service</td>
            <td> 01716071470</td>
            <td>Chad mari Barishal</td>
        </tr>
        <tr>
            <td>Barisal Payra Nursing Home
                Ambulance Service</td>
            <td> 043172043</td>
            <td> C&B road Barishal </td>
    </table>
    {% endblock %}