<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>

    <table>
        <tr>
            <th>District</th>
            <th>Station</th>
            <th>Phone Number</th>
        </tr>
        <tr>
            <td rowspan="6">Dhaka</td>
        <tr>
            <td>Baridhara Fire Service Station </td>
            <td>+88-02-8827397, Mobile: 01730-002245</td>
        </tr>
        <tr>
            <td>Demra Fire Service Station</td>
            <td>++88-02-7500111, Mobile: 01730-002302</td>
        </tr>
        <tr>
            <td>Dhaka EPZ Fire Service Station:</td>
            <td> +88-02-7788444, Mobile: 01730-002231</td>
        </tr>
        <tr>
            <td>Dhamrai Fire Service Station:</td>
            <td>+88-01742-302850</td>
        </tr>
        <tr>
            <td>Dohar Fire Service Station</td>
            <td> +88-01726-845949</td>
        </tr>
        </tr>

        <tr>
            <td rowspan="6">Gopalganj</td>
        <tr>
            <td>Gopalganj Fire Service Station </td>
            <td>+88-02-8827397, Mobile: 01730-002245</td>
        </tr>
        <tr>
            <td>Demra Fire Service Station</td>
            <td> +88-02-6651333, Mobile: 01787-469161</td>
        </tr>
        <tr>
            <td>Kotalipara Fire Service Station</td>
            <td> +88-0665456300, Mobile: 01779-442155</td>
        </tr>
        <tr>
            <td>Moksudpur Fire Service Station:</td>
            <td>+88-02-6656345, Mobile: 01754-607172</td>
        </tr>
        <tr>
            <td>Tungipara Fire Service Station</td>
            <td> +88-01726-845949</td>
            <tr>
                <td rowspan="6">Shariatpur</td>
            <tr>
                <td>Deputy Assistant Director, Shariatpur </td>
                <td> +88-0601-61688, Mobile: 01713-140689</td>
            </tr>
            <tr>
                <td>Demra Fire Service Station</td>
                <td> +88-02-6651333, Mobile: 01787-469161</td>
            </tr>
            <tr>
                <td>Damudya Fire Service Station</td>
                <td> +88-06024-75211, Mobile: 01744-436999</td>
            </tr>
            <tr>
                <td>Gosairhat Fire Service Station:</td>
                <td>+88-0601-61513, Mobile: 01726-877270</td>
            </tr>
            <tr>
                <td>Shariatpur Fire Service Station</td>
                <td> +88-01726-845949</td>
                <tr>
                    <td rowspan="6">Narayanganj</td>
                <tr>
                    <td>Deputy Assistant Director, N.Ganj Zone 1 </td>
                    <td> +88-02-7648902, Mobile: 01730-002309</td>
                </tr>
                <tr>
                    <td>Deputy Assistant Director, N.Ganj Zone 2</td>
                    <td>  +88-02-76912661</td>
                </tr>
                <tr>
                    <td>Adamzee EPZ Fire Service Station</td>
                    <td>  +88-01732-939352</td>
                </tr>
                <tr>
                    <td>Bandar Fire Service Station</td>
                    <td> +88-02-7661888, Mobile: 01730-002313</td>
                </tr>
                <tr>
                    <td>Fatullah Fire Service Station:</td>
                    <td> +88-01754-052575</td>
                    <tr>
                        <td rowspan="6">Gazipur</td>
                    <tr>
                        <td>Deputy Assistant Director, N.Ganj Zone 1 </td>
                        <td>+88-02-9262388, Mobile: 01730-002104 </td>
                    </tr>
                    <tr>
                        <td>Deputy Assistant Director, N.Ganj Zone 2</td>
                        <td>  +88-02-9816666, Mobile: 01730-002130</td>
                    </tr>
                    <tr>
                        <td>Kaliakobir Fire Service Station</td>
                        <td>+88-01770-603808</td>
                    </tr>
                    <tr>
                        <td>Sreepr Fire Service Station</td>
                        <td> +88-0682-25133, Mobile: 01744-242248</td>
                    </tr>
                    <tr>
                        <td>Tongi Fire Service Station:</td>
                        <td> +88-02-9816666, Mobile: 01730-002130</td>
    </table>

</body>

</html>